@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700&display=swap");

body {
  max-width: 100%;
  width: 900px;
  margin: 0 auto;
  padding: 32px 16px;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}
